{% extends "base.html" %}

{% block contents %}
<li><a href="/home">Home</a></li>
{% if LOGGEDIN %}
<li><a href="/myaccount">My Account</a></li>
{% endif %}
<li class="active"><a href="/about">About</a></li> 
</ul>

{% if LOGGEDIN %}
<ul class="nav navbar-nav navbar-right">
  <li><a href="/myaccount"><span class="glyphicon glyphicon-user"></span> &nbsp;Hello, {{LOGGEDIN}}!</a></li>
  <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
</ul>
{% else %}
<ul class="nav navbar-nav navbar-right">
  <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
  <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
</ul>
{% endif %}
</div>
</div>
</nav>
<br><br>
<h2>
  <center>"Spread your knowledge. Spread it using Spreddit®!" --Socrates, probably. </center>
  <br><br>
  Spreddit® (in no way a knockoff of Reddit®) is a forum for spreading news.<br><br>
  You can create an account and make posts, or comment on others' posts.<br><br>
  You can delete your own posts along with all the comments on them.<br><br>
  Posts and comments are timestamped; posts appear in order of newest first, while comments are listed in chronological order. <br><br>
  There is a search box on the homepage that lets you retrieve all posts and comments that contain a certain phrase. <br><br>
  Go forth, and Spreddit!
</h2>


{% endblock %}
