{% extends "base.html" %}

{% block navbar %}
<li><a href="/home">Home</a></li>
<li class="active"><a href="/myaccount">My Account</a></li>
<li><a href="/about">About</a></li>
{% endblock %}

{% block contents %}

<div class="row">

  <div class="well well-lg">
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <img src="https://account.socialbakers.com/default_user.png" alt="" class="img-rounded img-responsive" width="300 height="300"/>
																      </div>
      <!--    <div class="col-sm-6"> -->
      <h1>{{LOGGEDIN}}</h1>
      <small><cite title="New York, USA"><i class="glyphicon glyphicon-map-marker">
          </i><font size="4">&nbsp; New York, USA</font> </cite></small>
      <p>
        <i class="glyphicon glyphicon-envelope"></i><font size="4">&nbsp; No email on file</font>
        <br />
        <i class="glyphicon glyphicon-gift"></i><font size="4">&nbsp; No date of birth on file</font></p>
      <div>       
      </div>

{% endblock %}
