{% extends "base.html" %}


{% block navbar %}
<li class="active"><a href="/">Home</a></li>
{% if LOGGEDIN %}
<li><a href="/myaccount">My Account</a></li>
{% endif %}
<li><a href="/about">About</a></li>
{% endblock %}

{% block contents %}

<!--
      <div class="input-group margin-bottom-sm">
	<span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i>Post</span>
	<input class="form-control" type="text" placeholder="Make a post">
      </div>
--> 
<h2> Search results for "{{QUERY}}": (case-sensitive) </h2>
All posts containing the query in the post title, body, or any comments are displayed, along with all of their comments.


	{% for i in POSTS: %}
	<b><h1> {{i[0]}} </h1></b> Posted by {{i[5]}} on {{i[4]}}<h3> {{i[1]}} </h3> 
	{% if LOGGEDIN == i[5]%}
	<form method="POST" role="form">
	<input type="submit" class="button" name="{{i[2]}}" value="Delete this post.">
	</form>
	{% endif %}
	<br>
	{% for z in COMMENTS: %}
		{% if z[0][0] == i[2] %} <!--if this set's comment IDs match this post ID--> 
			{% for x in z %}
				&nbsp;&nbsp;&nbsp;&nbsp;{{x[3]}}, &nbsp;{{x[4]}} commented: {{x[1]}} <br>
			{% endfor %}
		{% endif %}
	{% endfor %}
	<br>
	<form method="POST" role="form">
	<div class="col-xs-4">
	<textarea type="text" name="{{i[2]}}" id="ex3" class="form-control custom-control" rows="1" placeholder="Make a comment..." style="resize:none"></textarea>
	<input type="submit" class="button" name="submitcomment" value="Comment.">
	</div>
	</form>
	<br>
	<br>
	<br>
	<hr>
	{% endfor %}

{% endblock %}
